$color-primary: #0f2a40;
$color-secondary: #63a4c4;
$color-white-background: #f2f2f2;
$color-purple: #963596;
$color-white: #ffffff;
$color-black: #000202;

$font-family-default: "Inter", sans-serif;

$title-size-1: 30px;
$title-size-2: 18px;
$text-size-1: 14px;
$text-size-2: 13px;
